* {
    background-color: #FFEFEF;
    font-family:sans-serif; 
    margin-left: 1%;
}

h1 {
    padding-top: %;
    font-size: 100px;
    margin-bottom: 0%;
}

h2 {
    font-size: 40px;
    margin-top: 1%
}

.bold {
    color: #ff3f3f;
}